.navbar {
    background-color: transparent;
    transition: all 0.6s ease-out;
}

.navbar-brand {
    letter-spacing: 0.05em;
    line-height: 1em;
}

#brand2ndline {
    font-size: 70%;
    letter-spacing: 0.65em;
    font-variant: small-caps;
}

.nav-icon {
    max-height: 1.2em;
    padding-right: 3px;
}

a.navbar-brand, a.navbar-brand:hover, a.navbar-brand:active {
    color: #000 !important;
}

.navbar-collapse {
    margin-top: -3px;
    padding-top: 5px;
}

.nav-link {
    padding: 0 2em 0 1em;
    margin-left: 3px;
    margin-bottom: 5px;
}
@media screen and (max-width: 699px) and (orientation: landscape) {
    .nav-link {
        padding: 0 1em 0 1em;
        margin-left: 3px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 575px) {
    #navbarSupportedContent {
        height: 100vh;
        background-image: radial-gradient(circle at 0 0,
                                          #fff 20%,
                                          transparent,
                                          transparent,
                                          transparent) !important;
    }
}
